
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #101524;
    box-shadow: 0 5px 10px rgba(1, 2, 1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}
.heads{
    float: right;
    display: flex;
    flex-direction: row;
    font-size: 16px;
    padding: 20px;
    display: block;
    color: white;
    
}

.log{
    color: #08A6FF;
    list-style-type: none;
    text-decoration: none;
    position: absolute;
    margin-left: 1.5%;
    margin-top: -0.2%;
  
}


header ul{
    list-style: none;
}
header ul li{
    float: left;
    position: relative;
    font-size: 16px;
    padding: 20px;
    display: block;
    color: white;
}
header ul li:hover{
    background-color: #333;
    color: #08A6FF;
}

.section1{
    height: 80vh;
    width: 100%;
   
}
.he{
    margin-top: -30%;
    position: absolute;
    color: white;
    font-family: 'poppins';
    font-style: normal;
    line-height: 23px;
    align-items: center;
    letter-spacing: 0.218587px;
    margin-left: 30%;
    font-weight: 700;

}

.cards{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -23%;
    position: absolute;
    margin-left: 5%;
}
.card2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: -23%;
    position: absolute;
    margin-left: 50%;
}
.li{
    font-family: 'poppins';
}
@media screen  and (max-width: 700px) {
    .header{
        display: flex;
    }
    
}
@media screen  and (max-width: 550px) {
    .header{
        display: flex;
        
    }
}