.news-card_image{

    position: absolute;
width: 353px;
height: 250px;
left: 0px;
top: 0px;

background: url('../../../assets/images/recourses/resourse1.jpg');
border-radius: 5px;
}
.news-card_title{
    
position: absolute;
width: 350px;
height: 59px;
left: 9px;
top: 247px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 27px;
display: flex;
align-items: center;
letter-spacing: 0.3px;
cursor:default;
/* secondary */

color: #0C101A;
}
.news-card_content{
    
position: absolute;
width: 350px;
height: 46px;
left: 9px;
top: 295px;

/* font-family: 'Poppins'; */
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
/* or 171% */

letter-spacing: 0.5px;
cursor: default;

/* medium dark */

color: black;
}
.btn{
    position:absolute;
    top: 336px;
    left: 120px;
}